In [ ]:
import pandas as pd
import random
import datetime
import numpy as np

# Matplotlib and seaborn for plotting
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib
import seaborn as sns

# Scipy helper functions
from scipy import stats

from random import randrange
from datetime import timedelta

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Data.xlsx to Data.xlsx

In [ ]:
df_data = pd.read_excel("Data.xlsx")
df_data["Date"] = pd.to_datetime(df_data.Date)
df_data.sort_values(by=['Date'], inplace=True, ascending=True)
df_data.head()

           Date       ID                 Type  Receipt Amount
0    2010-01-01   100697   Intercompany Flows         1330917
7497 2010-01-01  2000493  Capital Expenditure         -276807
2    2010-01-02   100802    Customer Receipts         1482768
7498 2010-01-02  2000136  Capital Expenditure        -2142504
1    2010-01-02   100665   Exceptional Income         1119518

Sum net cash (per day)

In [ ]:
df_data_sum = df_data.resample('D', on="Date").sum()
df_data_sum.head()

                 ID  Receipt Amount
Date
2010-01-01  2101190         1054110
2010-01-02  2201603          459782
2010-01-03  6302907        -5308308
2010-01-04  6402734          220925
2010-01-05  8906007        11132170

# Function to calculate daily forecasted cash flow

*   `forecastCashFlow`

Formula: Forecasted cash flow = Forecasted inflow - Forecasted outflow

Optional parameter (`forecastedDate`) : For a user to input a target date to forecast to.

In [ ]:
# Forecasted cash flow = Forecasted inflow - Forecasted outflow
# forecastedDate is an optional target forecast date that the user can input

def forecastCashFlow(df_data, forecastedDate, startdate):
  forecastedDate_time = datetime.datetime.strptime(forecastedDate, '%Y-%m-%d')
  forecasted_inflow = 0
  forecasted_outflow = 0
  after_start_date = df_data["Date"] >= startdate
  before_end_date = df_data["Date"] <= forecastedDate_time
  between_two_dates = after_start_date & before_end_date
  filtered_dates = df_data.loc[between_two_dates]
  for i in range (filtered_dates.shape[0]):
    amount = filtered_dates.iloc[i, 3]
    forecasted_outflow += amount

  return forecasted_inflow - forecasted_outflow

In [ ]:
forecastCashFlow(df_data, "2010-04-29", "2010-01-02")
# returns the forecasted cash flow at the user-inputted date

-438698048